/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", sans-serif;
}
/* tailwind dark mode enabled via comment */
@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));
/* theme colors */
@theme {
  --color-primary: rgba(223,35,38, 1);       /* oklch(0.62 0.18 29) */
  --color-secondary: rgba(223,35,38,1);    /* oklch(0.7 0.14 28) */
  --color-accent: rgba(255, 36, 20, 1);       /* oklch(0.75 0.18 29) */
  --color-neutral: rgba(255, 255, 255, 1);    /* oklch(0.98 0 0) */
}

@theme .dark {
  --color-primary: rgba(153, 30, 2, 1);       /* oklch(0.6 0.16 29) */
  --color-secondary: rgba(236, 52, 45, 1);    /* oklch(0.68 0.12 28) */
  --color-accent: rgba(244, 33, 18, 1);       /* oklch(0.7 0.15 29) */
  --color-neutral: rgba(255, 255, 255, 1);       /* oklch(0.1 0 0) */
}

/* Format Styles section Animation */
@layer utilities {
  .animate-marquee {
    animation: marquee 30s linear infinite;
    animation-delay: 0s !important;
  }
  

  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


/* styles.css for scrollable section*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hero spin */

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}


/* CTA button */
@keyframes glowDot {
  0% { box-shadow: 0 0 0 0 rgba(220,38,38,0.7), 0 0 8px 2px rgba(220,38,38,0.5); }
  50% { box-shadow: 0 0 0 8px rgba(220,38,38,0.15), 0 0 16px 4px rgba(220,38,38,0.3); }
  100% { box-shadow: 0 0 0 0 rgba(220,38,38,0.7), 0 0 8px 2px rgba(220,38,38,0.5); }
}
.animate-glowDot {
  animation: glowDot 1.2s ease-in-out infinite;
}


